{# src/ComentsBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <hr>

  <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Menu</div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ path('coments_homepage')}}">Home</a></li>
              <li><a href="{{ logout_path('main') }}">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
  
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block coments_body %}
  {% endblock %}

{% endblock %}